
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
  
}
/* .Navigation {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

/*.Navigation ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-left: 1rem;
}

.Navigation a {
  float: left;
  display: block;
  text-align: center;
  padding: 1rem 1rem;
  margin: 0px;
  text-decoration: none;
  font-size: 17px;
}

.Navigation a:hover {
  background-color: yellow;
} */

/* .container {
  display: flex;
  flex-wrap: wrap;
  background-color: #eae6e3;
  bottom: 0;
}

.container .card {
  text-align: center;
  position: relative;
  margin-top: 4rem;
  margin-left: 4rem;
}

.container .card img {
  position: relative;
  height: 260px;
  width: 420px;
  display: block;
}

.card .description {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 10px;
  text-align: center;
}
.card:hover .description {
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: red;}
.popup .content {
  max-height: 30%;
  overflow: auto;
} */ */

.about{
  text-align: center;
  margin-top: 4rem;
}
.contact{
  text-align: center;
  margin-top: 4rem;
}
.news{
  text-align: center;
  margin-top: 4rem;
}
.reveal_show{
    color: black;
    text-align: center
}
.card_below .card-image img{
  height: 260px;
  width: 420px;
}
.card_below .card-title{
  text-align: center
}

@media (max-width: 768px){
    .container1 .card .card-title{
        font-size:12px;
    }
    .container1 .btn-small {
        font-size:11px;
    }
    .card_below .card-image img {
        height: 55vh;
    }
    .card_below{
        height: 80vh;
    }
    .split-screen{
        display: inline-block
    }
    .bg .btn-floating.halfway-fab{
        top:18%;
        left: 65%;
      }
}

.about .content{
  display: inline-block;
  display: flex;
  align-items: center;
}
.content img{
margin-right: 2rem;
}
.contact{
  background-image: url('../public/bg.jpg');
  width: 100%;
  height: 100%;
  background-size:cover;
  background-repeat:round;
  width:100%;
  height: 600px;
  display: flex;
  margin: 0 auto;
}
.form_container{
  width: 50%;
  height: fit-content;
  align-content: center;
  margin: auto;
  padding:20px;
  border-radius: 5px;
  opacity: 0.8;

}
.new img {
  width: 90vh;
 }
 .fullscreen{
  height: 100vh;
  width: 100vw;
 }
 .split-screen {
  display: flex;
}

.split-screen__half {
  flex: 1;
  justify-content: center;
  align-items: center;

}
.split-screen__half .left img {
  margin-top: 2rem;
  width: 50vh;
}
.split-screen__half .right img {
  width: 35vh;
  padding: 0 5px;
}
.bg .btn-floating.halfway-fab{
  top:18%;
  left: 38%;
}
.photos{
  display: flex;
  flex-direction: row;
}